src/main/mule/mule-cicd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f587bf8d-89cd-4009-97dc-c6bfcebf826b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicd-auto-connected-applicationFlow" doc:id="fba79be3-d6f1-4f0f-9c57-9aab021d0bcf" >
		<http:listener doc:name="Listener" doc:id="17fab58c-01bb-4b09-a6a7-ca9a48c1614c" config-ref="HTTP_Listener_config" path="/cicd"/>
		<logger level="INFO" doc:name="Logger" doc:id="abf66b00-172e-47d2-8575-f57f0b6db713" message="flow start"/>
		<ee:transform doc:name="Transform Message" doc:id="e59c9efe-67ce-4fa8-9d93-f3d18ad41611" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
"status": "success",
"message": "CICD Auto depolyment using github action configured successfully",
"timetake": now()
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="013c5e17-ac35-4646-9172-67c1228cbe4c" message="#[payload]"/>
	</flow>
	
	
	</mule>
